<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Students Homepage</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body style="background-image:url(images/back-to-school.jpg)">
      <div class="introduction">
        <h1>Welcome to the Student Homepage</h1>
        <h3>please see below for student profiles</h3>
        <a class="button" href="/students/new">Create Order</a>
      </div>
    <%= yield %>
  </body>
</html>
